@font-face {
    font-family: BBHSans;
    src: url(../fonts/BBHSansBogle-Regular.ttf);
}
body{
  flex-grow: 1;
  min-height: 100vh;
}
form{
    margin: 0 auto;
    width: 100%;
}
h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
    letter-spacing: 1px;
}
input[type=text],select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top:6px;
    margin-bottom: 16px;
    resize: vertical;
    background: lightgray;
    align-items: center;
    font-family: BBHSans;
}
input[type=submit],input[type=reset]{
    background-color:#b4f8c8 ;
    color: #444;
    padding: 12px 20px;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    font-family: BBHSans;
}
input[type=submit]:hover,input[type=reset]:hover{
    background-color: #444;
    color: #b4f8c8;
}
.container {
  border-radius: 5px;
  background-color: #444;
  padding: 20px;
  max-width: 90%;
  margin-left: 5%;
  max-height: 70%;
  
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 768px) {
  .col-25, .col-75, input[type=submit],input[type=reset] {
    width: 100%;
    margin-top: 0;
  }
}
footer{
    background-color: #444;
    color: #b4f8c8;
    padding: 16px 32px;
    text-align: center;
    font-size: 9px;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-shrink: 0;
}
header{
    background-color: #444;
    color: #b4f8c8;
    padding: 16px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}

body{
    font-family: BBHSans;
    line-height: 2;
    color: #444;
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}