
#row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 12px;
	
}

.column {
	margin-top: 0;
	max-width: 100%;
	margin-bottom: 0;
}

.column img {
	padding-top: 10px;
	width: 100%;
	border-radius: 10%;
}



@media only screen and (min-width: 768px) {
	.column {
		max-width: 50%;
		padding: 0 6px;
	}

	#row {
	padding: 0 6px;
	}
}
@media only screen and (min-width: 1200px) {
	.column {
		max-width: 25%;
	}
}
header{
    background-color: #444;
    color: #b4f8c8;
    padding: 16px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}
footer{
    background-color: #444;
    color: #b4f8c8;
    padding: 16px 32px;
    text-align: center;
    font-size: 9px;
    width: 100%;
    position: relative;
}