p{
    text-align: center;
    font-size: 15px;
    font-family: Roboto ;
    text-transform: uppercase;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    
}
aside{
    font-size: 30px;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
aside a{
    color: #444;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
}
aside a:hover{
    background-color: #b4f8c8;
    color:#444;
}
.hero_section{
   width: 100%;
   aspect-ratio: 16/9;
   overflow: hidden;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center; 
}
.hero_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
main{
    flex: grow 1; ;
}
@media only screen and (min-width: 768px){
    main{
        display: flex;
    }
    aside{
        align-items: center;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        width: 30%;
    }
    section{
        display: inline;
        float: right;
        width: 70%;
    }
    .indexbody{
        max-width: auto;
        align-self: center;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        background-color: #444;
        color: #b4f8c8;
        font-size: 19px;
        line-height: 2;
    }
    p{
        text-align: center;
        font-size: 30px;
    }
    h1{
        text-align: center;
        font-size: 45px;
        font-weight: 1000;
    }
    
}
header{
    background-color: #444;
    color: #b4f8c8;
    padding: 16px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}
footer{
    background-color: #444;
    color: #b4f8c8;
    padding: 16px 32px;
    text-align: center;
    font-size: 9px;
    width: 100%;
    position: relative;
}