*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    letter-spacing: 0.5px;
}

@font-face{
    font-family:Protest_Guerilla;
    src:url(../fonts/ProtestGuerrilla-Regular.ttf) ;
}
@font-face {
    font-family:BBHSans;
    src: url(../fonts/BBHSansBogle-Regular.ttf);
}
@font-face {
    font-family:Roboto ;
    src: url(../fonts/Roboto-VariableFont_wdth,wght.ttf);
}
body{
    font-family: BBHSans;
    line-height: 2;
    color: #444;
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
header{
    background-color: #444;
    color: #b4f8c8;
    padding: 16px 32px;
    position: relative;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 60px;
    display: flex;
    position: relative;
    box-shadow: none;
}

footer{
    color: #b4f8c8;
    background-color: #444;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: none;
    font-family:Roboto ;
    flex-shrink: 0;
}
#burger-bar {
  display: none;
}

#burger-menu {
    display: none;
    cursor: pointer;
    z-index: 1001;
    margin-left: 16px;
}
#burger-icon{
    display: none;
    width: 50px;
    height: 50px;
    object-fit: contain;
}
nav{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex: none;
    text-align: center;
}
nav .links a{
    font-size: 40px;
    color: #b4f8c8;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    font-family: BBHsans;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav a:hover{
    background: #b4f8c8;
    color: #444;
    transform: none;
}
nav .logo a:hover{
    background-color: #444;
}
nav a.active_nav{
    background: #b4f8c8;
    color: #444
}
@media only screen and (max-width: 760px) {
    #burger-menu{
        display: block;
        float: right;
    }
    #burger-icon{
        display: block;
    }
    nav .links{
        display: none;
        flex-direction: column;
        gap: 16px;
        background-color: #444;
        position: absolute;
        top: 100%;
        right:0;
        width: auto;
        z-index: 999;
        border-radius: 0 0 8px 8px;
       font-size: 20px;
    }
    nav .links a:hover{
        background: #b4f8c8;
        color: #444;
    }
    #burger-bar:checked ~ nav .links{
        display: flex;
    }
    nav .logo{
        display:block;
        top: 0;
        left: 0;
    }
    footer{
        height:auto
    }
}
@media only screen and (min-width: 769px) {
    #burger_menu{
        display: none;
    }
    nav{
        display: flex !important;
        flex-direction: row ;
        gap: 32px;
        position: static;
        width: auto;
        background: none;
    }
}